Package: com.ttlongdl.batteryukrm-rh
Name: BatteryUKRM-RH
Version: 1.1.0
Architecture: iphoneos-arm64e
Description: Roothide build of BatteryUKRM with configurable repair warning, Maximum Capacity, and cycle count features.
Maintainer: ttlongdl
Author: ttlongdl
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
